SERVER_PORT=8080
SERVER_HOST=localhost
EXPOSE_SERVER_PORT=9000
DB_PASS=admin
DB_USER=username
DB_NAME=pg_taxi
DB_PORT=5432
DB_HOST=pg_taxi
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=vogistv@gmail.com
MAIL_PASSWORD=XXXXXXXXXXXXXXXXXXXX
WEBSOCKET_PORTS="*"
REDIS_HOST=redis_taxi
REDIS_PASS=admin
REDIS_DB=0
REDIS_PORT=6379
